@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.svg-icon{
    forced-color-adjust: none;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    display: inline-flex;
    transition: all .5s;
}

// 아이콘 mixin 정의
@mixin icon-style($icon-url, $width: 2.7rem, $height: 2.7rem) {
    -webkit-mask-image: url($icon-url);
    mask-image: url($icon-url);
    width: $width;
    height: $height;
    //background: linear-gradient(to bottom, $gradient-start, $gradient-end);
}

.ico-layer {
    @include icon-style('@/assets/images/map/ico-layer.svg');
    background: linear-gradient(to bottom, #3658D3, #17A595);
}

.ico-map {
    @include icon-style('@/assets/images/map/ico-map.svg',1.7rem,1.7rem);
    background-color: #000;
}
.ico-distance {
    @include icon-style('@/assets/images/map/ico-distance.svg',1.7rem,1.7rem);
    background-color: #000;
}

.ico-search{
    @include icon-style('@/assets/images/map/ico-search.svg',1.8rem,1.8rem);
    background-color: #fff;
}

.ico-reset{
    @include icon-style('@/assets/images/map/ico-reset.svg',2rem,2rem);
    background-color: #555;
}
.ico-info{
    @include icon-style('@/assets/images/map/ico-info.svg',1.8rem,1.8rem);
    background-color: #C6C6C6;
}

.ico-back{
    @include icon-style('@/assets/images/map/ico-back.svg',2.4rem,2.4rem);
    background-color: rgba(#8E8E8E,0.5);
}

.ico-close{
    @include icon-style('@/assets/images/map/ico-close.svg',2.4rem,2.4rem);
    background-color: rgba(#8E8E8E,0.5);
}

.ico-zoom-in{
    @include icon-style('@/assets/images/map/ico-zoom-in.svg',3.2rem,3.2rem);
    background-color: #000;
}

.ico-zoom-out{
    @include icon-style('@/assets/images/map/ico-zoom-out.svg',3.2rem,3.2rem);
    background-color: #000;
}