

.footer{
    z-index: 1000;
    position: relative;
    background: rgba(17, 17, 19, 1);
    @media (max-width: 900px) {
        padding-bottom: 60px;
    }
    &-links{
        display: flex;
        justify-content: center;
        padding: 40px 0 45px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        border-top: 1px solid #A0A3AD;
        transition: border 0.4s ease-in;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            //background: rgba(17, 17, 19, 1);
            background-color: #fff;
            transition: all 0.2s ease-in;
        }
        &:has(a:hover){
            border-color: #fff;
            &::after{
                height: 100%;
            }
        }
        a{
          display: flex;
          align-items: center;
          gap: 0 6.5px;
          font-family: "SUIT";
          font-weight: 500;
          font-size: 30px;
          line-height: 40px;
          color: #fff;
          position: relative;
          z-index: 2;
          transition: all 0.2s ease-in;
          &:hover{
            color: #000;
            i{
                transform: translateX(15px);
                opacity: 1;
                background: #000;
            }
          }
          i{
            display: block;
            width: 48px;
            height: 48px;
            forced-color-adjust: none;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            -webkit-mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center center;
            mask-size: contain;
            display: inline-flex;
            transition: all .5s;
            -webkit-mask-image: url("@/assets/images/solar_arrow-right-outline.svg");
            mask-image: url("@/assets/images/solar_arrow-right-outline.svg");
            opacity: 1;
            transition: all 0.3s 0.2s ease;
            background: rgba(117, 117, 117, 1);
          }
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 6rem 5rem;
        @media (max-width: 768px) {
            padding: 30px 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }   
    }
    &-call{
        display: flex;
        align-items: center;
        gap: 0 14px;
        i{
            width: 48px;
            height: 48px;
            background: url("@/assets/images/call.svg") no-repeat center center / contain;
        }
        a{
            color: #fff;
            font-family: "SUIT";
            font-weight: 900;
            font-size: 30px;
        }
        @media (max-width: 768px) {
            
        }
    }
    &-right{
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    &-social{
        display: flex;
        align-items: center;
        gap: 0 16px;
        justify-content: flex-end;
        @media (max-width: 768px) {
            gap:0 10px;
            justify-content: center;
        }
        &__link{
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            &.blog{
                background-image: url("@/assets/images/blog.png");
            }
            &.youtube{
                background-image: url("@/assets/images/youtube.png");
            }
            &.instargram{
                background-image: url("@/assets/images/instagram.png");
            }
            @media (max-width: 768px) {
                width: 28px;
                height: 28px;

            }
        }
    }
    &-copyright{
        color: rgba(255, 255, 255, 0.8);
        font-family: "SUIT";
        font-weight: 400;
        font-size: 12px;
        text-align: right;
        @media (max-width: 768px) {
            text-align: center;
            font-size: 10px;
            opacity: 0.8;
        }
    }
}


