

.footer{
    z-index: 2;
    position: relative;
    background: rgba(17, 17, 19, 1);
    @media (max-width: 900px) {
        padding-bottom: 60px;
    }
    &-links{
        display: flex;
        justify-content: center;
        padding: 40px 0 45px;
        a{
          display: flex;
          align-items: center;
          gap: 0 33px;
          font-family: "SUIT";
          font-weight: 500;
          font-size: 30px;
          line-height: 40px;
          color: #fff;
          i{
            display: block;
            width: 48px;
            height: 48px;
            background: url("@/assets/images/line-md_arrow-right.svg") no-repeat center center / contain;
          }
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &-content{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #fff;
        padding: 6rem 5rem;
        @media (max-width: 768px) {
            border-top: 0;
            padding: 30px 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }   
    }
    &-call{
        display: flex;
        align-items: center;
        gap: 0 14px;
        i{
            width: 48px;
            height: 48px;
            background: url("@/assets/images/ico-agent.svg") no-repeat center center / contain;
        }
        a{
            color: #fff;
            font-family: "SUIT";
            font-weight: 900;
            font-size: 30px;
        }
        @media (max-width: 768px) {
            
        }
    }
    &-right{
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    &-social{
        display: flex;
        align-items: center;
        gap: 0 16px;
        justify-content: flex-end;
        @media (max-width: 768px) {
            gap:0 10px;
            justify-content: center;
        }
        &__link{
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            &.blog{
                background-image: url("@/assets/images/ico-blog.svg");
            }
            &.youtube{
                background-image: url("@/assets/images/ico-youtube.svg");
            }
            &.instargram{
                background-image: url("@/assets/images/ico-instagram.svg");
            }
            @media (max-width: 768px) {
                width: 28px;
                height: 28px;

            }
        }
    }
    &-copyright{
        color: #fff;
        font-family: "SUIT";
        font-weight: 400;
        font-size: 12px;
        @media (max-width: 768px) {
            text-align: center;
            font-size: 10px;
            opacity: 0.8;
        }
    }
}


