html,
body{
    overflow-x: hidden;
    background-color: rgb(17, 17, 19);
}

video{
    background-color: transparent;
    vertical-align: top;
}
.visual {
    background-color: #000;
    overflow: hidden;
    transform-origin: top center;
    position: relative;
    z-index: 15;
    &__video {
      position: relative;
      video {
        clip-path: inset(50% 50% 50% 50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        //position: absolute;
        transition: all 2s; // PC에서는 유지
        transform-origin: center center;
        vertical-align: top;
        &.loaded{
          clip-path: inset(0% 0% 0% 0%);
        }
        @media (max-width: 768px) {
          object-fit: contain;
          background-color: #000; // 영상 주변 여백을 검은색으로
        }
        
        // 태블릿에서는 중간 옵션
        @media (min-width: 769px) and (max-width: 1024px) {
          object-fit: cover;
          object-position: center 20%; // 상단 부분을 더 보이도록
        }
      }
    }
}
@keyframes updown {
    0%{ transform: translateY(0); }
    100%{ transform: translateY(40px); }
}

.wrap-content{
    background: url("@/assets/images/main/bbg111.png") no-repeat center center / cover;
    padding-bottom: 134px;
}

.s1{
    width: 100%;
    position: relative;
}
.s1-inner{
    margin: 0 auto;
    position: relative;
    max-width: 1280px;
    padding-top: 200px;
    @media (max-width:1024px) {
        padding-top: 150px;
    }
    @media (max-width:768px) {
        padding-top: 120px;
    }
}
.shape-1{
    position: absolute;
    left: 0;
    top: -40px;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    animation: updown 3s infinite ease-in-out alternate;
    @media (max-width:768px) {
        left: -50px;
        top: -60px;
    }
}

.shape-2{
    position: absolute;
    right: 0;
    top: 44px;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    animation: updown 4s infinite ease-in-out alternate;
    @media (max-width:1024px) {
        top: 20px;
    }
    @media (max-width:768px) {
        display: none;
    }
}

.shape-3{
    position: absolute;
    right: -50px;
    top: -80px;
    animation: updown 2s infinite ease-in-out alternate;
    img{
        animation: rotate2 12s infinite linear;
    }
    @media (max-width:768px) {
        display: none;
    }
}

.s1-title{
    text-align: center;
    color: #fff;
    font-size: 80px;
    font-family: 'SUIT';
    @media (max-width:1024px) {
        font-size: 40px;
    }
    @media (max-width:768px) {
        font-size: 32px;
    }
    .l{
        display: inline-block;
        font-weight: 600;
        //transform: translateX(50%);
    }
    .r{
        display: inline-block;
        font-weight: 900;
        //transform: translateX(-50%);
    }
    span{
        display: inline-block;
    }
}

.s1-title-2{
    overflow: hidden;
    font-size: 22px;
    font-family: 'SUIT';
    font-weight: 400;
    span{
        line-height: 16.82px;
        color: rgba(209, 209, 234, 1);
        display: inline-block;
        vertical-align: top;
        //opacity: 0;
        //transform: translateY(110%);
    }
    @media (max-width:768px) {
        font-size: 16px;
    }
}




.s2{
    position: relative;
    width: 100%;
    padding-top: 68px;
    @media (max-width:768px) {
        padding-top: 50px;
    }
}
.s2-title{
    font-family: 'SUIT';
    font-weight: 600;
    font-size: 33px;
    line-height: 47px;
    text-align: center;
    color: #fff;
    //padding-top: 68px;
    //div{opacity: 0; transform: translateY(110%);}
    span{
        // display: inline-block;
        // transform: translateY(120%);
    }
    @media (max-width:768px) {
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        padding-bottom: 50px;
    }
}

.s2-inner{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.hexagon-wrap-inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (max-width:1024px) {
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding: 0 20px;
    }
}
.hexagon-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 0 0;
    //opacity: 0;
    transform-origin: center center;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 11px;
        height: 11px;
        background: rgba(242, 65, 201, 1);
        display: block;
        //background-color: #000;
        @media (max-width:768px) {
            width: 10px;
            height: 10px;
        }
    }
    .m-shape{display: none;position: absolute;}
    &.hexagon-1{
        background-image: url("@/assets/images/main/hexagon-1.png");
        width: 335px;
        height: 385px;
        margin-left: 198px;
        margin-top: 36px;
        @media (max-width:1024px) {
            margin-left: 100px;
        }
        @media (max-width:768px) {
            margin: 0 auto;
            max-width: 100%;
            background-size: 100% auto;
            //background-image: url("@/assets/images/main/hexagon-1-m.png");
            .m-shape{display: block;left:-30px;bottom: 0;width: 130px;
                img{max-width: 100%;
                    animation: rotate2 12s infinite linear;
                }
            }
        }
    }
    &.hexagon-2{
        background-image: url("@/assets/images/main/hexagon-2.png");
        width: 386px;
        height: 334px;
        margin-top: 144px;
        margin-right: 240px;
        @media (max-width:1024px) {
            margin-right: 100px;
        }
        @media (max-width:768px) {
            margin: 0 auto;
            max-width: 100%;
            //background-image: url("@/assets/images/main/hexagon-2-m.png");
            height: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &::before {
                content: "";
                display: block;
                padding-top: calc(334 / 386 * 100%); /* 약 86.5% */
            }
            .m-shape{display: block;bottom: 0;right: 0;
                animation: rotate 15s infinite linear;
            }
        }
    }
    .box{
        font-family: 'SUIT';
        font-weight: 500;
        font-size: 26px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        @media (max-width:768px) {
            font-size: 23px;
            line-height: 35px;
        }
        div{
            overflow: hidden;
        }
        b{
            font-weight: 800;
            font-size: 26px;
            color: rgba(255, 174, 236, 1);
            @media (max-width:768px) {
                font-size: 23px;
            }
        }
        span{
            display: inline-block;
            //transform: translateY(120%);
        }
    }
    
}
@keyframes rotate2 {
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}
@keyframes rotate {
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}
.shape-4{
    position: absolute;
    left: 65px;
    top: -76px;
    
    img{
        position: relative;
        animation: rotate 3s infinite linear;
    }    
    @media (max-width:768px) {
        display: none;
    }
}
.shape-5{
    position: absolute;
    left: 0;
    bottom: -80px;
    transform: translateX(-30%);
    //transform: translateX(-50%);
    margin-left: -70px;
    img{
        position: relative;
        animation: rotate2 10s infinite linear;
    }
    @media (max-width:768px) {
        display: none;
    }
}

.s3{
    padding-top: 127px;
    position: relative;
    width: 100%;
    @media (max-width:768px) {
        padding-top: 50px;
    }
}

.s3-title{
    font-family: 'SUIT';
    font-weight: 900;
    font-size: 32px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    padding-bottom: 44px;
    @media (max-width:768px) {
        
    }
    div{overflow: hidden;}
    span{
        display: inline-block;
        //transform: translateY(120%);
    }
    em{
        font-style: normal;
        font-weight: 500;
    }
}

.s3-content{
    .square-flip{
        // opacity: 0;
        // transform: scale(1.15);
        transform-origin: center center;
    }
}

.s3-inner{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    @media (max-width:1280px) {
        padding-left: 37px;
        padding-right: 37px;
    }
}

.s3-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
    @media (max-width:1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
    }
    @media (max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.square-flip{
    height: 350px;
    perspective: 1000;
    transform: perspective(1000px);
    transform-style: preserve-3d;
    position: relative;
}

.square {
    background-size: cover;
    background-position: center center;
    -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
    transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
    -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.square-flip .square {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    z-index: 1;
}

.square-flip:hover .square {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.square2 {
    background-size: cover;
    background-position: center center;
    -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
    transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
    -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.square-flip .square2 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    z-index: 1;
}

.square-flip:hover .square2 {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.boxing{
    position: relative;
    width: 100%;
    height: 100%;
    .arrw{
        position: absolute;
        bottom: 10px;
        right: 10px;
        @media (max-width:768px) {
            display: none;
        }
    }
    .image{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media (max-width:768px) {
            width: 100%;
            text-align: center;
        }
    }
    .text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: 'SUIT';
        font-weight: 800;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        color: #fff;
        span{
            white-space: nowrap;
        }
        @media (max-width:768px) {
            font-size: 24px;
        }

    }
}

.square2{
    display: flex;
    align-items: center;
    justify-content: center;
    .text{
        font-family: 'SUIT';
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: rgba(4, 22, 48, 1);
        @media (max-width:768px) {
            font-size: 16px;
            line-height: 20px;
        }
        b{ 
            font-weight: 700;
            font-size: 28px;
            line-height: 35px;
            @media (max-width:768px) {
                font-size: 20px;
                line-height: 26px;
            }
        }
        div+div{
            padding-top: 20px;
        }
    }

}

.square-flip-1{
    .square{
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #041630 0%, #3555FF 100%);
    }
    .square2{
        height: 100%;
        width: 100%;
        background: rgba(190, 201, 255, 1);
        border: 1px solid rgba(4, 22, 48, 0.8);
        b{
            color:rgba(0, 27, 173, 1);

        }
    }
}

.square-flip-2{
    .square{
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #041630 0%, #6C43FF 100%);
    }
    .square2{
        height: 100%;
        width: 100%;
        background: rgba(209, 204, 255, 1);
        border: 1px solid rgba(4, 22, 48, 0.8);
        b{
            font-size: 22px;
            color: rgba(4, 22, 48, 1);
            @media (max-width:768px) {
                font-size: 16px;
            }
        }
    }
}

.square-flip-3{
    .square{
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #041630 0%, #8936EE 100%);

    }
    .square2{
        height: 100%;
        width: 100%;
        background: rgba(236, 222, 255, 1);
        border: 1px solid rgba(4, 22, 48, 0.8);
        b{
            font-size: 22px;
            color: rgba(4, 22, 48, 1);
            @media (max-width:768px) {
                font-size: 16px;
            }
        }
    }
}