
.location{
    //height: 100dvh;
    background-color: #000;
    // padding-left: 10vw;
    // padding-right: 10vw;
    padding-top: 200px;
    @media (max-width: 1280px) {
        //padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (max-width: 900px) {
        height: auto;
        padding-top: 100px;
    }
    &-top{
        position: relative;
        max-width: 1280px;
    }
    &-container{
        position: relative;
        margin: 0 auto;
        max-width: 1200px;
        height: 100%;
        @media (max-width: 900px) {
            height: auto;
        }
    }
    &-content{
        //position: absolute;
        // bottom: 40px;
        // left: 0;
        // right: 0;
        //height: 100%;
        display: flex;
        gap:0 15px;
        padding-top: 130px;
        padding-bottom: 40px;
        @media (max-width: 900px) {
            position: static;
            flex-direction: column;
            gap: 20px;
            padding-top: 80px;
        }

    }
    &-transport{
        width: 217px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.1);
        padding: 31px 24px;
        color: #fff;
        @media (max-width: 768px) {
            width: 100%;
            padding: 17px;
        }
        .block{
            +.block{
                margin-top: 25px;
            }
            &-title{
                font-family: "SUIT";
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                gap:0 4px;
                i{
                    display: block;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width:24px;
                    height: 24px;
                    &.ico-subway{
                        background-image: url("@/assets/images/ico-subway.svg");
                    }
                    &.ico-bus{
                        background-image: url("@/assets/images/ico-bus.svg");
                    }
                }
            }
            .how{
                div{
                    display: flex;
                    align-items: center;
                    gap:0 4px;
                    +div{
                        margin-top: 4px;
                    }
                    span{
                        font-family: 'SUIT';
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
            &.bus{
                .how{
                    font-family: 'SUIT';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
    &-map{
        flex:1;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        @media (max-width: 768px) {
            margin-bottom: 40px;
            iframe{
                height: 300px;
            }
        }
        .address{
            padding: 24px;
            background: rgba(62, 64, 69, 0.8);
            color: #fff;
            font-family: "SUIT";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: right;
            padding: 12px;
            @media (max-width: 768px) {
                padding: 12px;
            }
            div{
                font-size: 13px;
                font-weight: 700;
                b{
                    font-weight: 900;
                    font-size: 15px;
                }
                @media (max-width: 768px) {
                    font-size: 11px;
                    b{
                        font-size: 13px;
                    }
                }
            }
            p{
                color: rgba(255, 255, 255, 0.8);
                font-size: 13px;
                font-weight: 400;
                margin-top: 5px;
                @media (max-width: 768px) {
                    font-size: 11px;
                }
            }
        }
    }
}
.sub-hrc-ver{
    font-family: "SUIT";
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 0;
    top: 15px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 1;
    transform: rotate(180deg) translateX(-50px);
    @media (max-width: 900px) {
        position: static;
        transform: rotate(180deg) translateX(0px);
    }
}

.sub-title-hi-wrap{
    @media (max-width: 900px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 31px;
    }
}

.sub-title{
    color: #fff;
    &-text{
        font-family: "SUIT";
        font-weight: 400;
        font-size: 60px;
        line-height: 1.2;
        b{
            font-weight: 900;
        }
        @media (max-width: 900px) {
            //font-size: 30px;
        }
    }
    &-date{
        font-family: "SUIT";
        font-weight: 400;
        font-size: 40px;
        margin-top: 15px;
        display: flex;
        gap: 0 20px;
        align-items: center;
        b{
            font-weight: 900;
        }
        span{
            font-weight: 300;
            font-size: 34px;
        }
        @media (max-width: 900px) {
            margin-top: 0;
            font-weight: 400;
            font-size: 20px;
            margin-top: 20px;
        }
    }
    &-hi{
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        font-family: "SUIT";
        font-weight: 900;
        font-size: 80px;
        line-height: 1;
        @media (max-width: 900px) {
            //font-size: 40px;
            position: static;
            
        }
    }
    &-video{
        padding-top: 60px;
        @media (max-width: 900px) {
            padding-top: 70px;
        }
    }
}