@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.content-panel{
    display: none;
    position: absolute;
    left: 39rem;
    top: 2rem;
    bottom: 2rem;
    width: 37rem;
    background: #fff;
    border-radius: 2rem;
    z-index: 10;
    //display: flex;
    flex-direction: column;
    .panel-header {
        position: relative;
        padding: 2rem;
        &-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .5rem;
        }
    }
    .panel-title{
        text-align: center;
        strong{
            background: linear-gradient(to right, #3658D3, #17A595);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            font-size: 2.1rem;
        }
    }

    .panel-tabs {
        display: flex;
        background: linear-gradient(to right, #3658D3, #17A595);
        height: 5.6rem;
        flex-shrink: 0;
    }
    
    .panel-tab{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        position: relative;
        &::after{
            content: '';
            display: block;
            left: 2rem;
            right: 2rem;
            background: rgba(#fff,0.7);
            position: absolute;
            bottom: 0;
            height: .4rem;
            border-radius: .4rem .4rem 0 0;
            opacity: 0;
            transition: opacity .3s ease;
        }
        span{
            font-size: 1.7rem;
            font-weight: 700;
            color: #fff;
            opacity: .4;
            transition: opacity .3s ease;
        }
        &[aria-selected="true"]{
            span{
                opacity: 1;
            }
            &::after{
                opacity: 1;
            }
        }
    }
    .panel-tab-contents{
        overflow-y: auto;
        flex-grow: 1;
        min-height: 0;
        //background-color: #000;
        border-radius: 0 0 2rem 2rem;
    }
    .panel-tab-content {
        display: none;
        &.active{
            display: block;
        }

    }
}

.map-detail-info {
    &-section{
        padding: 2rem;
        &:not(:last-child){
            border-bottom: .4rem solid #F0F0F0;
        }
    }
    &-title{
        display: flex;
        align-items: center;
        gap: .7rem;
        font-weight: 700;
        line-height: 1;
        color: var(--text-color-quaternary);
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
        &::before{
            content: '';
            display: block;
            width: .6rem;
            height: .6rem;
            background: var(--text-color-quaternary);
            border-radius: 50%;
        }
    }
    &-list{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        li{
            display: flex;
            //align-items: center;
            gap: .7rem;
            font-size: 1.5rem;
            strong{
                color: var(--text-color-secondary);
                font-weight: 400;
                width: 12rem;
                flex-shrink: 0;
            }
            span{
                color: var(--text-color-primary);
                flex: 1;
                padding-left: 1.2rem;
                border-left: 1px solid #E4E4E4;
            }
        }
    }
}

/* 시청각 자료 */
.map-audio-tabs{
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F0F0F0;
        font-size: 1.7rem;
        height: 4.8rem;
        border-bottom: 1px solid #D8D8D8;
        color: #8E8E8E;
        &[aria-pressed="true"]{
            color: var(--color-primary);
            background-color: #fff;
            font-weight: 700;
            border-color: #fff;
        }
        &:not(:last-child){
            border-right: 1px solid #D8D8D8;
        }
    }
}
.map-audio-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    .map-audio-item{
        position: relative;
        border: 1px solid #D8D8D8;
        border-radius: 1rem;
        overflow: hidden;
        img{
            display: block;
            aspect-ratio: 1 / 1;
            object-fit: fill;
            object-position: center;
            width: 100%;
        }
    }
}

@media screen and (max-width: $lg-desktop) {
    .content-panel{
        left: 31rem;
        width: 31rem;
    }
}

@media screen and (max-width: $desktop) {
    .content-panel{
        z-index: 100;
        left: 0;
        bottom: 0;
        top: 7rem;
        border-radius: 0%;
        width: 100%;
        .panel-header{
            position: relative;
            padding: 1rem;
        }
        .panel-title{
            line-height: 2.4rem;
            strong{
                font-size: 1.7rem;
            }
        }
        .panel-back,
        .panel-close{
            position: absolute;
            top: 50%;
            transform: translateY(-45%);
        }
        .panel-back{
            left: 1rem;
        }
        .panel-close{
            right: 1rem;
        }
        .panel-tabs{
            height: 4.5rem;
            span{
                font-size: 1.4rem;
            }
        }
    }
    .map-detail-info{
        &-title{
            font-size: 1.4rem;
            &::before{
                width: .4rem;
                height: .4rem;
            }
        }
        &-list{
            gap: 1rem;
            li{
                font-size: 1.2rem;
                strong{
                    width: 9.5rem;
                }
            }
        }
    }
    .map-audio-tabs{
        button{
            font-size: 1.4rem;
            height: 3.8rem;
        }
    }
    .map-audio-list{
        gap: 1rem;
        .map-audio-item{
            border-radius: .8rem;
            img{
                border-radius: .8rem;
            }
        }
    }
}