@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

// 미니맵 스타일
.map-mini{
    width: 16rem;
    height: 16rem;
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
    border: .2rem solid #fff;
    .btn-minimap{
        position: absolute;
        z-index: 2;
        right: 1rem;
        top: 1rem;
        border-radius: .4rem;
        background: #fff url('@/assets/images/map/ico-miz.svg') no-repeat center center / 1.6rem;
        width: 3.2rem;
        height: 3.2rem;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: $desktop) {
    .map-mini{
        display: none;
    }
}