.session{
  &-top{
    
    padding-top: 200px;
    background-color: #000;
    min-height: 100dvh;
    @media (max-width: 1024px) {
      //padding-top: 200px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (max-width: 900px) {
      padding-top: 100px;
      height: auto;
      min-height: auto;
      padding-bottom: 70px;
    }
    &-wrap{
      position: relative;
      height: 100%;
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}

.program-morning{
  display: flex;
  justify-content: space-between;
  padding-top: 135px;
  margin: 0 auto;
  max-width: 1200px;
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
  }
  .program-title{
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    //padding-left: 70px;
    width: 250px;
    @media (max-width: 1024px) {
      padding-left: 0;
      padding-top: 10px;
    }
  }
  .program-list{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    li{
      background: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      padding: 16px 24px 16px 73px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 900px) {
        padding: 16px 20px;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .program-item-time{
    div{
      font-family: 'SUIT';
      font-weight: 400;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
    }
    p{
      font-family: 'SUIT';
      font-weight: 600;
      font-size: 18px;
      color: #fff;
      padding-top: 8px;
    }
    
  }
  .speaker{
    display: flex;
    align-items: center;
    gap:0 23px;
    @media screen and (max-width: 900px) {
      width: 100%;
      position: relative;
    }
  }
  .speaker-info{
    .name{
      color: #fff;
      font-family: 'SUIT';
      font-weight: 500;
      font-size: 16px;
    }
    .aff{
      color:rgba(195, 207, 222, 1);
      font-family: 'SUIT';
      font-weight: 400;
      font-size: 13px;
      @media screen and (max-width: 900px) {
        margin-top: 3px;
      }
    }
  }
  .details{
    width: 24px;
    height: 24px;
    background: url("@/assets/images/white.png") no-repeat center center / cover;
    @media screen and (max-width: 900px) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.session-track{
  background-color: #E7E7E7;
  padding: 27px 0 35px;
  min-height: 100dvh;
  &-wrap{
    max-width: 1200px;
    margin: 0 auto;
  }
  @media (max-width: 1024px) {
    padding: 27px 20px 35px;
  }
  header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    h2{
      font-weight: 700;
      color: rgba(28, 28, 28, 1);
      font-size: 16px;
    }
    button{
      width: 130px;
      height: 42px;
      font-family: 'SUIT';
      font-weight: 700;
      font-size: 15px;
      color: #fff;
      background: rgba(63, 74, 87, 1);
      border-radius: 5px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 3px;
      i{
        display: block;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        width: 17px;
        height: 17px;
        &.ico-time{
          background-image: url("@/assets/images/ico-time.png");
        }
        &.ico-track{
          background-image: url("@/assets/images/ico-track.png");
          width: 21px;
          height: 21px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap:17px 0;
      button{
        align-self: flex-end;
      }
    }
  }
}

.session-content{
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap:70px;
}

.session-item{
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 20px;
  }
}
.session-item-title{
  width: 250px;
  span{
    font-family: 'SUIT';
    font-size: 14px;
    color: rgba(63, 74, 87, 1);
    font-weight: 600;
  }
  .session-item-category{
    font-family: 'SUIT';
    font-weight: 800;
    font-size: 33px;
    line-height: 24px;
    color: rgba(28, 28, 28, 1);
    padding-top: 10px;
    &:has(i){
      display: flex;
      align-items: center;
      gap:0 4px;
    }
    i{
      display: block;
      width: 24px;
      height: 24px;
      background: url("@/assets/images/ico-clock.png") no-repeat center center / cover;
    }
  }
  @media (max-width: 1024px) {
    flex: 0;
  }
}
.session-details{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap:20px;
  @media (max-width: 1024px) {
    width: 100%;
  }
  .details-item{
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 15px 16px 15px 27px;
    @media screen and (max-width: 900px) {
      padding: 15px 20px 12px 55px;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }
  }
  .checkbox{
    @media screen and (max-width: 900px) {
      position: absolute;
      top: 50%;
      left: 17px;
      transform: translateY(-50%);
    }
  }
  .label-chk{
    display: block;
    border-radius: 2px;
    width: 21px;
    height: 21px;
    border: 2px solid rgba(125, 128, 134, 1);
    background-color: #fff;
    position: relative;
    transition: all .2s;
    margin-right: 28px;
    input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .1;
    }
    &:has(input:checked){
      background-color: rgba(44, 123, 239, 1);
      border-color: rgba(44, 123, 239, 1);
      background-image: url("@/assets/images/chk.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.session-detail-time{
  flex: 1;
  div{
    font-family: "SUIT";
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(63, 74, 87, 1);
    &:has(span){
      display: flex;
      align-items: center;
      gap:0 20px;
      span{
        color: rgba(44, 123, 239, 1);
        font-weight: 600;
      }
    }
  }
  p{
    font-family: "SUIT";
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-top: 4px;
  }
}
.session-detail-speaker{
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-end;
  gap:0 23px;
  @media screen and (max-width: 900px) {
    width: 100%;
    position: relative;
  }
  .session-detail-speaker-info{
    @media screen and (max-width: 900px) {
      display: flex;
      gap:0 5px;
      padding-top: 7px;
    }
  }
  .details{
    width: 24px;
    height: 24px;
    background: url("@/assets/images/black.png") no-repeat center center / cover;
    @media screen and (max-width: 900px) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
.session-detail-speaker-info-name{
  font-family: "SUIT";
  font-weight: 500;
  color:rgba(28, 28, 28, 1);
  font-size: 16px;
}
.session-detail-speaker-info-aff{
  font-family: "SUIT";
  font-weight: 400;
  color: rgba(63, 74, 87, 1);
  font-size: 13px;
}

@keyframes expandCircle {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
// 팝업(모달) 스타일
.custom-modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'SUIT', sans-serif;
  transition: all 0.3s ease-in-out;
  &.active {
    transition: all 0s ease-in-out;
    opacity: 1;
    visibility: visible;
    .custom-modal__backdrop{
      opacity: 1;
      visibility: visible;
      animation: expandCircle 1s ease-out forwards;
    }
    .custom-modal__content{
      transform: translateY(0px);
      opacity: 1;
      transition: all 0.3s .4s ease-in-out;
    }
  }

  &__backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100vw * 1.5);
    height: calc(100vw * 1.5);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  &__content {
    position: relative;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0s 0s ease-in-out;
    z-index: 2;
    background: #3E4045;
    border-radius: 15x;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    padding: 60px 70px;
    min-width: 480px;
    max-width: 680px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 600px) {
      min-width: 0;
      width: 90vw;
      padding: 30px;
    }
  }
  &__close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 30px;
    height: 30px;
    background: url('@/assets/images/close.svg') no-repeat center center;
    //background-size: 30px 30px;
    border: none;
    cursor: pointer;
    z-index: 3;
    opacity: 0.7;
    transition: opacity 0.2s;
    &:hover { opacity: 1; }
    @media (max-width: 600px) {
      right: 10px;
      top: 10px;
    }
  }
  &__time {
    font-size: 14px;
    color: #fff;
    margin-bottom: 6px;
    font-weight: 400;
  }
  &__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 9px;
    //word-break: keep-all;
    @media (max-width: 600px) {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
  &__speaker {
    align-self: flex-end;
    text-align: right;
    //margin-bottom: 12px;
    .custom-modal__name {
      font-size: 18px;
      font-weight: 500;
    }
    .custom-modal__aff {
      font-size: 13px;
      font-weight:600;
      color: rgba(137, 137, 137, 1);
    }
  }
  &__divider {
    width: 100%;
    border: none;
    border-top: 1px solid #6b6d72;
    margin: 20px 0 30px 0;
  }
  &__desc {
    font-size: 15px;
    font-family: var(--font-family-primary);
    color: #fff;
    line-height: 1.67;
    @media (max-width: 600px) {
      font-size: 13px;
    }
  }
}

.session-top {
  opacity: 0;
  //transform: translateY(100px);
}

.sub-title-text, .sub-title-date, .sub-title-hi, .sub-hrc-ver, .sub-title-video {
  opacity: 0;
  transform: translateY(30px);
}
.sub-title-video {
  opacity: 0;
  filter: blur(20px);
  //transform: translateY(30px);
  transition: all 0.8s ease;
}

.sub-title-video.blur-reveal {
  opacity: 1;
  filter: blur(0px);
}

.program-morning{
  opacity: 0;
  transform: scale(0.97);
  filter: blur(10px);
}

.track-image {
  position: fixed;
  left: 0px;
  bottom: 30px;
  z-index: 90;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.track-image.show {
  opacity: 1;
  transform: translateY(0);
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.sticky-header.show {
  transform: translateY(0);
  opacity: 1;
}
