<div id="map-context-menu" class="map-context-menu" style="display: none;">
    <div class="map-context-menu-group">
        <div class="rows set">
            <button class="zoom-btn" id="zoom-in" title="확대"><i
                    class="svg-icon ico-zoom-in"></i><span></span></button>
            <button class="zoom-btn" id="zoom-out" title="축소"><i
                    class="svg-icon ico-zoom-out"></i><span></span></button>
        </div>
        <div class="rows">
            <button class="btn-control-popup" type="button" data-option-target="optionPanel1"
                aria-pressed="false"><i class="svg-icon ico-map-bg"></i><span>배경지도</span></button>
            <button class="btn-control-btn" type="button" aria-pressed="false"><i
                    class="svg-icon ico-refresh"></i><span>새로고침</span></button>
        </div>
        <div class="rows">
            <button class="btn-control-btn" type="button" aria-pressed="false"><i
                    class="svg-icon ico-distance"></i><span>거리재기</span></button>
            <button class="btn-control-btn" type="button" aria-pressed="false"><i
                    class="svg-icon ico-area"></i><span>면적재기</span></button>
        </div>
        <div class="rows">
            <button class="btn-control-btn" type="button" aria-pressed="false"><i
                    class="svg-icon ico-guide"></i><span>가이드</span></button>
            <button class="btn-control-btn" type="button" aria-pressed="false"><i
                    class="svg-icon ico-export"></i><span>내보내기</span></button>
        </div>
    </div>
</div>
<!-- // map-context-menu -->