<div class="content-panel">
    <div class="panel-header">
        <div class="panel-header-inner">
            <button type="button" class="panel-back" aria-label="뒤로가기"><i class="svg-icon ico-back"></i></button>
            <button type="button" class="panel-close" aria-label="닫기"><i class="svg-icon ico-close"></i></button>
        </div>
        <div class="panel-title"><strong>두루더러섬(밤섬, 두루도리도)</strong></div>
    </div>
    <div class="panel-tabs" role="tablist">
        <button type="button" class="panel-tab" id="tab1" role="tab" aria-selected="true" aria-controls="tabpanel1" tabindex="0">
            <span>관리유형</span>
        </button>
        <button type="button" class="panel-tab" id="tab2" role="tab" aria-selected="false" aria-controls="tabpanel2" tabindex="-1">
            <span>시청각 자료</span>
        </button>
    </div>
    <div class="panel-tab-contents">
        <div class="panel-tab-content active" id="tabpanel1" role="tabpanel" aria-labelledby="tab1">
            <div class="map-detail-info">
                <div class="map-detail-info-section">
                    <div class="map-detail-info-title">일반 개요</div>
                    <ul class="map-detail-info-list">
                        <li><strong>위도</strong><span>36° 36′ 42.53″N</span></li>
                        <li><strong>경도</strong><span>125° 32′ 37.84″E</span></li>
                        <li><strong>관리번호</strong><span>영해기점-22</span></li>
                        <li><strong>소재지</strong><span>충청남도 태안군 근흥면 가의도리 산28</span></li>
                        <li><strong>토지 전체 면적</strong><span>128,903㎡</span></li>
                        <li><strong>국유지 면적</strong><span>-</span></li>
                        <li><strong>공유지 면적</strong><span>-</span></li>
                        <li><strong>사유지 면적</strong><span>128,903㎡</span></li>
                        <li><strong>토지 소유 구분</strong><span>사유지</span></li>
                        <li><strong>토지 소유자</strong><span>-</span></li>
                        <li><strong>육지와의 거리</strong><span>52km (신진도리)</span></li>
                        <li><strong>항구와의 거리</strong><span>-</span></li>
                    </ul>
                </div>
                
                <div class="map-detail-info-section">
                    <div class="map-detail-info-title">상세 정보</div>
                    <ul class="map-detail-info-list">
                        <li><strong>용도구분</strong><span>자연환경보전지역</span></li>
                        <li><strong>지목</strong><span>-</span></li>
                        <li><strong>무인도서 관리유형</strong><span>절대보전</span></li>
                        <li><strong>주변해역 관리유형</strong><span>절대보전</span></li>
                        <li><strong>영해기점 무인도서 유무</strong><span>영해기점</span></li>
                        <li><strong>지정고시일(법령고시일)</strong><span>2023년 09월 18일</span></li>
                    </ul>
                </div>
                <div class="map-detail-info-section">
                    <div class="map-detail-info-title">부가 정보</div>
                    <ul class="map-detail-info-list">
                        <li><strong>비고</strong><span>-</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //관리 유형 -->
        <div class="panel-tab-content" id="tabpanel2" role="tabpanel" aria-labelledby="tab2">
            <div class="map-audio-tabs">
                <button type="button" class="map-audio-tab" aria-pressed="true">
                    <span>전체</span>
                </button>
                <button type="button" class="map-audio-tab" aria-pressed="false">
                    <span>해도</span>
                </button>
                <button type="button" class="map-audio-tab" aria-pressed="false">
                    <span>기타</span>
                </button>
                <button type="button" class="map-audio-tab" aria-pressed="false">
                    <span>동영상</span>
                </button>
            </div>
            <div class="map-audio-list">
                <div class="map-audio-item">
                    <img src="https://dummyimage.com/160x160/000/fff" alt="">
                </div>
                <div class="map-audio-item">
                    <img src="https://dummyimage.com/320x160/000/fff" alt="">
                </div>
                <div class="map-audio-item">
                    <img src="https://dummyimage.com/160x320/000/fff" alt="">
                </div>
                <div class="map-audio-item">
                    <img src="https://dummyimage.com/1000x380/000/fff" alt="">
                </div>
                <div class="map-audio-item">
                    <img src="https://dummyimage.com/160x160/000/fff" alt="">
                </div>
                <div class="map-audio-item">
                    <img src="https://dummyimage.com/160x160/000/fff" alt="">
                </div>
                <div class="map-audio-item">
                    <img src="https://dummyimage.com/160x160/000/fff" alt="">
                </div>
                <div class="map-audio-item">
                    <img src="https://dummyimage.com/160x160/000/fff" alt="">
                </div>
                <div class="map-audio-item">
                    <img src="https://dummyimage.com/160x160/000/fff" alt="">
                </div>
                <div class="map-audio-item">
                    <img src="https://dummyimage.com/160x160/000/fff" alt="">
                </div>
            </div>
        </div>
        <!-- //시청각 자료 -->
    </div>
</div>