<div class="aside-panel">
    <div class="aside-header">
        <div class="aside-header-top">
            <h1 class="logo"><a href="#" title="메인페이지로 이동"><span class="visually-hidden">무인도서</span></a></h1>
            <button type="button" class="mobile-btn-menu" title="메뉴 열기">
                <span class="mobile-btn-menu__line">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
        </div>
        <div class="search-box">
            <input type="text" placeholder="검색어를 입력하세요" title="검색어 입력">
            <button type="button" class="btn-search" title="검색">
                <span class="visually-hidden">검색</span>
                <i class="svg-icon ico-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <!-- // aside-header -->
    
    <div class="aside-content">
        <div class="search-summary-bar">
            <div class="total-count">총 <b>2,918</b>건</div>
            <div class="search-summary-bar-util">
                <button type="button" class="btn-reset" title="검색 조건 초기화">초기화 <i class="svg-icon ico-reset" aria-hidden="true"></i></button>
            </div>
        </div>
        <!-- // search-summary-bar -->
        
        <div class="aside-content-list">
            <div class="island-card">
                <div class="island-card__title"><a href="#">두루더러섬(밤섬, 두루도리도) 두루더러섬(밤섬, 두루도리도두루더러섬(밤섬, 두루도리도두루더러섬(밤섬, 두루도리도두루더러섬(밤섬, 두루도리도</a></div>
                <div class="island-card__address">강원도 강릉시 안현동 853강원도 강릉시 안현동 853강원도 강릉시 안현동 853강원도 강릉시 안현동 853</div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 무인도서 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 주변해역 관리유형</span>
                    <span class="island-card__badge unavailable">미지정</span>
                </div>
            </div>
            <div class="island-card">
                <div class="island-card__title"><a href="#">두루더러섬(밤섬, 두루도리도)</a></div>
                <div class="island-card__address">강원도 강릉시 안현동 853</div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 무인도서 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 주변해역 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
            </div>
            <div class="island-card">
                <div class="island-card__title"><a href="#">두루더러섬(밤섬, 두루도리도)</a></div>
                <div class="island-card__address">강원도 강릉시 안현동 853</div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 무인도서 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 주변해역 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
            </div>
            <div class="island-card">
                <div class="island-card__title"><a href="#">두루더러섬(밤섬, 두루도리도)</a></div>
                <div class="island-card__address">강원도 강릉시 안현동 853</div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 무인도서 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 주변해역 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
            </div>
            <div class="island-card">
                <div class="island-card__title"><a href="#">두루더러섬(밤섬, 두루도리도)</a></div>
                <div class="island-card__address">강원도 강릉시 안현동 853</div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 무인도서 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 주변해역 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
            </div>
            <div class="island-card">
                <div class="island-card__title"><a href="#">두루더러섬(밤섬, 두루도리도)</a></div>
                <div class="island-card__address">강원도 강릉시 안현동 853</div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 무인도서 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
                <div class="island-card__info">
                    <span class="island-card__label"><i class="svg-icon ico-info" aria-hidden="true"></i> 주변해역 관리유형</span>
                    <span class="island-card__badge available">이용가능</span>
                </div>
            </div>
        </div>
        <!-- // aside-content-list -->

        <div class="aside-footer">
            <div class="pagination">
                <button type="button" class="pagination-prev"><i class="svg-icon ico-prev"></i><span class="text">이전</span></button>
                <div class="page-num">
                    <span class="paging current">1 <span class="visually-hidden">현재 페이지</span></span>
                    <span class="paging">2 <span class="visually-hidden">페이지</span></span>
                    <span class="paging">3 <span class="visually-hidden">페이지</span></span>
                    <span class="paging">...</span>
                    <span class="paging">99 <span class="visually-hidden">페이지</span></span>
                </div>
                <button type="button" class="pagination-next"><span class="text">다음</span><i class="svg-icon ico-next"></i></button>
            </div>
        </div>
        <!-- // aside-footer -->
         
    </div>
    <!-- // aside-content -->
</div>