<div class="map-zoom-control">
    <div class="zoom-control">
        <button class="zoom-btn" id="zoom-in" title="확대"><i class="svg-icon ico-zoom-in"></i></button>
        <div class="zoom-range-wrap">
            <input type="range" id="zoom-range" min="1" max="14" value="1" step="1" title="축척" />
        </div>
        <button class="zoom-btn" id="zoom-out" title="축소"><i class="svg-icon ico-zoom-out"></i></button>
    </div>
    <!-- <div class="zoom-slider">
        <button class="zoom-btn" id="zoom-in" title="확대"><i class="svg-icon ico-zoom-in"></i></button>
        <div class="ticks" id="ticks"></div>
        <button class="zoom-btn" id="zoom-out" title="축소"><i class="svg-icon ico-zoom-out"></i></button>
    </div> -->
</div>