<div class="control-group">
    <div class="control-btn-row">
        <button class="btn-control-popup" type="button" data-option-target="optionPanel1"
            aria-pressed="false">
            <i class="svg-icon ico-layer"></i>
            <div class="btn-tooltip">레이어</div>
        </button>
    </div>

    <div class="control-btn-row">
        <button class="btn-control-popup" type="button" data-option-target="optionPanel1"
            aria-pressed="false">
            <i class="svg-icon ico-map"></i>
            <div class="btn-tooltip">배경지도</div>
        </button>
    </div>
    <div class="control-btn-row">
        <button class="btn-control-btn" type="button" aria-pressed="false">
            <i class="svg-icon ico-distance"></i>
            <div class="btn-tooltip">거리재기</div>
        </button>
    </div>
</div>