<footer id="footer" class="footer">
    <div class="footer-container">
      <div class="footer-links">
        <a href="#about">
          <span>HR FAIR 프로그램 안내</span>
          <i aria-hidden="true"></i>
        </a>
      </div>
      <div class="footer-content">
          <div class="footer-call">
              <i aria-hidden="true"></i>
              <a href="tel:02-2152-3978">02) 2152-3978</a>
          </div>
          <div class="footer-right">
              <div class="footer-social">
                  <a href="#" target="_blank" class="footer-social__link blog">
                      <span class="visually-hidden">Blog</span>
                  </a>
                  <a href="#" target="_blank" class="footer-social__link youtube">
                      <span class="visually-hidden">Youtube</span>
                  </a>
                  <a href="#" target="_blank" class="footer-social__link instargram">
                      <span class="visually-hidden">Instargram</span>
                  </a>
              </div>
              <div class="footer-copyright">copyright©2023 EXPERT Consulting All rights Reserved</div>
          </div>
      </div>
    </div>
  </footer>