<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>EXPERTconsulting 2025 HR Fair</title>
<link rel="stylesheet" as="style"
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov-dynamic-subset.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css" />

<script src="./lib/gsap/gsap.min.js"></script>
<script src="./lib/gsap/ScrollTrigger.min.js"></script>
<script src="./lib/gsap/ScrollToPlugin.min.js"></script>
<script src="https://unpkg.com/@studio-freight/lenis"></script>
