<button type="button" class="mobile-menu" aria-label="모바일 메뉴 열기"></button>

<nav id="nav" class="nav">
    <button class="mobile-menu-close"></button>
    <div class="nav-wrap">
        <a href="./index.html" class="nav-anchor current">
            <span>HR Fair소개</span>
        </a>
        <a href="./session.html" class="nav-anchor">
            <span>프로그램</span>
        </a>
        <a href="#" class="nav-anchor open-applys">참가신청 및 내역</a>
        <a href="./location.html" class="nav-anchor">
            <span>찾아오시는길</span>
        </a>
    </div>
</nav>